@media (max-width: 968px) {
    .section-mobile {
      display: flex !important;
      border-bottom: 3px solid rgba(71, 83, 88, 0.14);
      position: relative;
  
      .logo-mobile {
        position: absolute;
        margin-top: 1rem;
        display: block !important;
      }
      .navBar-mobile {
        display: block !important;
        width: 100%;
      }
  
      ul {
        width: 100%;
        position: absolute;
        z-index: 2;
        position: relative;
        align-items: center;
  
        li.nav-item {
          width: 100%;
          border: 1px solid #ccc;
          padding: 0.2rem 0;
          text-align: center;
        }
      }
    }
  
    .main-header {
      header {
        display: none;
      }
      .content-header {
        align-items: flex-start;
  
        .form {
          width: 100%;
          padding-right: 15%;
          text-align: center;
        }
        .ilustrations-images {
          display: none;
        }
      }
    }
  
    section.diferenciais {
        width: 100%;

      .container-diferenciais {
        
        display: flex !important;
        flex-direction: column;
        margin: 0;

        .diferenciais-single-container {
          align-items: center;
        }
      }
    }
    .container-sobre{
        flex-direction: column;
        width: 100%;

        .img-ilustrative{
            width: 100%;
        }
        .sobre-texto{
            margin-bottom: 7rem;
            padding: 0.5rem;
        }
    }
    .container-etapas{
        margin: 0;

        .container-each-side{
            flex-wrap: wrap;

            .left-container{
                flex-direction: column;
            }
            .numbers-center{
                display: none !important;
            }
            .right-container{
                margin: 0;

                .right-container_etapa{
                    margin: 1rem 0;
                }
            }
        }
    }
    .diferencas{
        flex-direction: column;
        align-items: center;

        .invisalign{
            align-items: center;
            margin-top: 1rem;
        }

        .line{
            display: none;
        }
    }
    section.contato{
        .form_contato{
            padding-left: 2.5rem;
            width: 100% !important;
        }
    }
}
