@import "@fortawesome/fontawesome-free/css/all.css";
@import "bootstrap/scss/bootstrap";
@import "_responsive.scss";

@font-face {
  font-family: "Roboto_titulos";
  src: url("../fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
    font-family: "Roboto_regular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Roboto_regular", sans-serif;
}
body,
html {
  height: 100%;
}

//Variáveis:
$cor-debug: #e3010899;
$borda-delimitadora: 1px solid #000;
$text-color: #fff;
$font-weigth-subtitle: normal;

//Style nav bar mobile
.section-mobile {
  display: none;
  width: 100%;
  min-height: 200px;
  background-image: url("../assets/imagens/bg_01.png");
  background-size: cover;
  color: #fff;
  justify-content: space-between;
  align-items: flex-start;

  .logo-mobile {
    display: none;
    width: 250px;
    height: 80px;
    background-image: url("../assets/imagens/logo.png");
    background-size: 100% 100%;
    padding: 1rem;
  }
  .navBar-mobile {
    display: none;
  }
}
.link-decoration {
  text-decoration: underline;
  color: #ffff;
  font-weight: bold;
  font-size: 20px;
}
ul li.nav-item a.nav-link:hover {
  color: #ffff !important;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #509d87;
  margin-top: 0.5rem;
}
.flex-button {
  display: flex !important;
  justify-content: flex-end !important;
  margin-top: 0.5rem;
}
// Final style navbar mobile

.selected {
  width: 30%;
  height: 2px;
  background-color: #171616;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: all 0.7s ease-in-out;
}

.main-header {
  width: 100%;
  min-height: 700px;
  background-image: url("../assets/imagens/bg_01.png");
  background-size: cover;
  color: $text-color;

  header {
    border-bottom: 3px solid rgba(71, 83, 88, 0.14);
    padding: 1.5rem 0;

    .container-header {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 10%;

      div.logo-desktop {
        width: 250px;
        height: 80px;
        background-image: url("../assets/imagens/logo.png");
        background-size: 100% 100%;
        padding: 1rem;
        margin-left: 5%;
      }
      nav {
        width: 100%;
        display: flex;
        align-items: flex-end;

        ul {
          list-style-type: none;

          li {
            display: inline-block;
            margin: 0 1rem;
            position: relative;
            cursor: pointer;
            position: relative;
          }
          li.contact {
            font-weight: bold;
            font-size: 1.5em;
            transition: color 0.7 ease-in-out;
          }
          li:hover {
            color: #ded5d5;
          }
        }
      }
    }
  }
}
.main-header {
  .content-header {
    width: 100%;
    display: flex;
    align-items: center;

    .form {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 15%;
      margin-top: 40px;

      h2 {
        font-size: 37px;
        font-weight: $font-weigth-subtitle;
        color: #509d87;
      }
      p {
        font-size: 20px;
        padding: 10px 0;
        color: #171616;
      }
      form {
        input[type="email"] {
          width: 251px;
          height: 45px;
          border-radius: 20px;
          outline: none;
          padding: 0.5rem;
          border: 3px solid #ccc;
          margin: 10px 0;
        }
        input[type="button"] {
          background-color: #00daaaaa;
          width: 251px;
          height: 45px;
          border-radius: 20px;
          outline: none;
          margin: 10px 0;
        }
      }
      span {
        display: block;
        color: #509d87;
        font-size: 15px;
        margin-top: 20px;
      }
    }
  }
  .ilustrations-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .images {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding-right: 15%;
      margin-top: 15px;

      img {
        width: 35%;
        margin-bottom: 10px;
        border: 5px solid rgba(0, 0, 0, 0);
      }
    }
  }
}
section.diferenciais{
    padding: 40px 0;
    font-family: "Roboto_titulos", "sans-serif";

    .container-diferenciais{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1.5rem;
        margin: 0 15%;

        .diferenciais-single-container{
            width: 100%;
            display: flex;
            flex-direction: column;

            img.img-icons{
                max-width: 50px;
                margin-bottom: 1rem;
            }
            h2{
                font-size: 30px;
                font-weight: $font-weigth-subtitle;

                strong{
                    color: #7dd5b0;
                }
            }
            p{
                color: #000;
            }
        }
    }
}
section.sobre{
    padding: 40px 0;

    .container-sobre{
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .img-ilustrative{
            max-width: 700px;

            img{
                width: 100%;
            }
        }
        .sobre-texto{
            max-width: 600px;
            display: flex;
            flex-direction: column;
            padding: 0.5rem;

            h2{
                font-size: 33px;
                color: #a9c4b8;
                font-weight: $font-weigth-subtitle;

                strong{
                    color: #7dd5b0;
                }
            }
            p{
                position: relative;
                font-size: 15px;
                color: #000;
                z-index: 1;
            }
        }
    }
}
section.depoimentos{
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url("../assets/imagens/bg_02.png");
    background-size: cover;
    text-align: center;
    font-family: "Roboto_titulos", "sans-serif";
    position: relative;
    z-index: 3;
    top: -25%;

    .container-depoimentos{
        position: absolute;
        top: 200px;
    }
}
section.etapas{
    padding: 40px 0;

    h2{
        text-align: center;
        color: #3b3e42;
        font-family: "Roboto", "sans-serif";
        padding-bottom: 1rem;
    }
    .container-etapas{
        display: flex;
        flex-direction: column;
        min-height: 500px;
        margin: 5%;

        .container-each-side{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;

            .left-container{
                width: 80%;
                padding-left: 2rem;
                display: flex;
                flex-direction: column;

                .left-container_groups{
                    display: flex;

                    img{
                        max-width: 100%;
                        border-radius: 50%;
                    }
                }
                .group01{
                    width: 100%;
                    padding: 0.5rem;
                    align-items: center;

                    .image01{
                        max-width: 50%;
                        border: 50%;
                    }
                    p{
                        color: #509d87;
                        margin-left: 1rem;
                    }
                }
                .group02{
                    width: 100%;
                    flex-direction: row-reverse;
                    padding: 0.5rem;
                    align-items: center;
                    padding-right: 3rem;
                }
                .group03{
                    width: 100%;
                    padding: 0.5rem;
                    align-items: center;
                }
            }

            .numbers-center{
                width: 20%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 0 1rem;
                position: relative;

                .numbers-center_number{
                    width: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100px;
                    border-radius: 50%;
                    border: 1px solid #6f6a6a;
                    margin-bottom: 2rem;
                    background-color: #ffff;
                    position: relative;
                    z-index: 3;
                }
                .number01{
                    margin-top: 3rem;
                }
                .line-height{
                    height: 400px;
                    width: 1px;
                    border: 1px solid #000;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            
            .right-container{
                width: 80%;

                .right-container_etapa{
                    display: flex;
                    flex-direction: column;
                    margin: 2rem 0;

                    h3{
                        font-size: 18px;
                        color: #03ca9f;
                        font-family: "Roboto_titulos", "sans-serif";
                    }
                    p{
                        font-size: 14px;
                        font-weight: bold;
                        color: #2d2d2d;
                        font-family: "Roboto_regular", "sans-serif";
                    }
                }
            }
        }
    }
    .diferencas{
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
}